* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  background-color: #cac9c9;

  font-family: Arial;
}

/* Center website */
main {
  /* max-width: 1000px; */
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;

  /* padding-bottom:; */
}

.column {
  display: none; /* Hide columns by default */
  flex-basis: 250px;

  outline: 1px dashed red;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  height: 100%;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:is(:hover, :focus) {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.img-wrapper {
  padding-bottom: 75%;
  position: relative;
  /* overflow: hidden; */
}
.img-wrapper .example-image-link img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  transition: all 250ms ease-in;
}
.example-image-link img {
  transition: all 250ms ease-in;
}
.example-image-link:is(:hover, :focus) img {
  transform: scale(1.02);
  filter: brightness(0.7);
}
/* =======================SWIPPER=============== */
.swiper {
  /* width: 600px; */
  height: 450px;
}
.swiper-slide {
  background-image: linear-gradient(90deg, rgb(105, 150, 234), white);
  /* height: calc((100% - 30px) / 2) !important; */
}
.swiper-slide img {
  object-fit: cover;
  height: 100%;
}

@media (max-width: 639px) {
  .swiper {
    /* width: 600px; */
    height: 300px;
  }
}
