* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  background-color: #cac9c9;

  font-family: Arial;
}

/* Center website */
main {
  /* max-width: 1000px; */
  margin: auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding-bottom: 96px;

  /* padding-bottom:; */
}

.column {
  display: none; /* Hide columns by default */
  flex-basis: 250px;

  outline: 1px dashed red;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  height: 100%;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:is(:hover, :focus) {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

.img-wrapper {
  padding-bottom: 75%;
  position: relative;
  /* overflow: hidden; */
}
.img-wrapper .example-image-link img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  transition: all 250ms ease-in;
}
.example-image-link img {
  transition: all 250ms ease-in;
}
.example-image-link:is(:hover, :focus) img {
  transform: scale(1.02);
  filter: brightness(0.7);
}
/* =======================SWIPPER=============== */
.swiper {
  /* width: 600px; */
  height: 400px;
}

/* @media (max-width: 339px) {
  .swiper {
    
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .swiper {
  
    height: 400px;
  }
} */
.swiper-slide {
  background-image: linear-gradient(90deg, rgb(105, 150, 234), white);
  /* height: calc((100% - 30px) / 2) !important; */
  border-radius: 15px;
  overflow: hidden;
}
.swiper-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper2 {
  /* width: 600px; */
  height: 450px;
}
@media (max-width: 339px) {
  .swiper2 {
    /* width: 600px; */
    height: 300px;
  }
}

@media (max-width: 1024px) {
  .swiper2 {
    /* width: 600px; */
    height: 350px;
  }
}
/* =======================FANSYBOX=============== */
#myCarousel {
  /* --f-carousel-slide-height: 100%; */
  /* --f-carousel-spacing: 10px; */

  height: 400px;
}

#myCarousel.f-carousel {
  --f-carousel-spacing: 10px;
  --f-carousel-slide-width: calc(100% / 1.2);
}
/* .f-carousel-slide {
  width: calc(100% / 3);
} */

#myCarousel .f-carousel__slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#myCarousel .f-carousel {
  --f-button-width: 50px;
  --f-button-height: 50px;

  --f-button-svg-width: 26px;
  --f-button-svg-height: 26px;
  --f-button-svg-stroke-width: 3;
  --f-button-svg-fill: none;
  --f-button-svg-filter: drop-shadow(1px 1px 1px rgba(24, 24, 27, 0.5));
  --f-button-svg-disabled-opacity: 0.65;

  --f-button-color: rgb(71 85 105);
  --f-button-border-radius: 50%;
  /* --f-button-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%),
    0 3px 7px -3px rgb(0 0 0 / 30%); */

  --f-button-bg: transparent;
  --f-button-hover-bg: #f9f9f9;
  --f-button-active-bg: #f0f0f0;
}
#myCarousel .f-button svg {
  stroke: white;
}
